* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}



/* HEADER/NAV STYLE START */
header {
	display: flex;
	justify-content:space-between;
  	background-color:rgba(164, 247, 244, 0.822);
	background-size: cover;
}

header h1 {
	color: black

}

header nav ul {
	list-style: none;
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
} 

header nav ul li a {
	text-decoration:none;
	color:black;
	padding: 10px;
}
/* HEADER/NAV STYLE END */


/* HERO SECTION STYLE START */
.hero {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: 80%;
	display: flex;
}

.headshot-img {

	max-width: 100%;
}
/* HERO SECTION STYLE END */


/* SECTION STYLE START */
section {
	background-color:powderblue;
	background-size: cover;
	background-position: 80%;
	display: flex;
}
.container {
	display:flex;
	justify-content:space-between;

}

.workcontainer {
	display:flex;
	flex-wrap: wrap;

}

article {
	margin-bottom: 10px;
	margin-right: 5px;
}

.caption {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: 80%;
	border: 2px solid black;
}

.section-title {
	flex: 0 0 150px;
	border-right:3px solid black;
	margin:10px;
}

.works p {
	text-align: center;
}

.container nav ul {
	list-style: none;
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
}


.container nav ul li a {
	display:flex;
	color:black;
	padding:10px;
	text-decoration: none;
	border: 1px solid black;
}