* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* HEADER/NAV STYLE START */
header {
	display: flex;
	justify-content:space-between;
  	background-image: url("../images/hero.jpg");
	background-size: cover;
}

header h1 {
	color: black

}

header nav ul {
	list-style: none;
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
} 

header nav ul li a {
	text-decoration:none;
	color:black;
	padding: 10px;
}
/* HEADER/NAV STYLE END */


/* HERO SECTION STYLE START */
.hero {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: 80%;
	display: flex;
}

.headshot-img {

	max-width: 100%;
}
/* HERO SECTION STYLE END */


/* SECTION STYLE START */
section {
	background-size: cover;
	background-position: 80%;
	display: flex;
}
.container {
	display:flex;
	justify-content:space-between;

}

.workcontainer {
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;

}

article {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: 80%;
	border: 2px solid black;
}

.section-title {
}

/* CONTACT ME SECTION STYLE START */
.container nav ul {
	list-style: none;
	display:flex;
	justify-content:space-between;
}

.container nav ul li a {
	display:flex;
	justify-content:space-between;
	color:black;
	padding:10px;
	text-decoration: none;
}