* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER/NAV STYLE START */
header {
	display: flex;
	justify-content:space-between;
  background-image: url("../images/hero.jpg");
	background-size: cover;
}

header h1 {
	color: slategrey

}

header nav ul {
	list-style: none;
	display: flex;
	justify-content:space-between;
} 

header nav ul li a {
	text-decoration:none;
	color:slategrey;
	padding: 10px;
}
/* HEADER/NAV STYLE END */


/* HERO SECTION STYLE START */
.hero {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: 80%;
	display: flex;
}

.hero-img {
	max-width: 100%;
}
/* HERO SECTION STYLE END */

/* SECTION TITLE STYLE START */